.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.list .list__item-navbar:not(last-child) {
    
    text-transform: uppercase;
}
.list .list__item-navbar .list__item-link {
    color: #8b8b8b;
    font-weight: bold;
    font-size: 15px;
    position: relative;
}
.list .list__item-navbar .list__item-link::after {
    content: "";
    position: absolute;
    transition: .3s ease-in-out;
    width: 0;
    height: 3px;
    background-color: #d13138;
    bottom: -5px;
    left: 0;
}
.list__item-navbar:hover .list__item-link{
    color: #d13138;
}
.list__item-navbar:hover .list__item-link::after {
    width: 100%;
}
.news {
    margin-top: 30px;
}
.news__list {
    display: flex;
    flex-wrap: wrap;
}
.news__list li:first-child{
    width: 66.66%!important;
    padding: 0;
}
.news__list .news__list-item {
    width: 33.33%!important;
    /* margin-right: 30px; */
    position: relative;
    padding-left: 15px;
}
.item__news {
    height: 100%;
    position: relative;
}
.news__img {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.zoom {
    width: 100%;
    transition: all 1s;
}
.item__news:hover .zoom{
    transform: scale(1.2);
}
.news__copy {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(255, 250, 250,0.6);
    transition: all .5s;
}
.copy__title {
    color: #d13138;
    padding-top: 20px ;
}
.copy__title, .copy__des {
    text-transform: uppercase;
    padding-bottom: 15px;
}
.news__copy .copy__title{
    line-height: 1.2rem;
    font-size: 15px;
    color: #d13138;
}
.item__news:hover .copy__des {
    color: #d13138;

}.copy__des{
    color: #424d54;
}
.copy__date {
    opacity: 0.8;
}
/* .news__img img {
    width: 372px;
    height: 248px;
} */
.news__bottom {
    padding: 20px 0;
}
.zoom__in img {
    width: 100%;
    display: block;
    height: auto;
    cursor: pointer;
}
.image {
    display: inline-block;
    width: 33%;
    padding-right: 15px;
}
figure {
    overflow: hidden;
}
.image .zoom__in img {
    transform: scale(1);
    transition: all .5s ease-in-out;
}
.image .zoom__in:hover img {
    transform: scale(1.2);
}
.image .zoom__in:hover .text{
    color: #d13138;
}
.image .zoom__in:hover h4 {
    color: #d13138;
}
.image .zoom__in:hover h3 {
    color: #d13138;
}
.count__next {
    padding-top: 50px;
    width: 30%;
    margin: 0 auto;
}
.count {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    color: #8b8b8b;
    cursor: pointer;
}
.count p {
    color: #8b8b8b;
    font-weight: bold;
}
.count p:hover {
    color: #d13138;
}
.count .count__icon:hover{
    color: #d13138;
}
.count p:first-child {
    padding: 3px 10px;
    border-radius: 50%;
    border: 2px solid rgb(82, 82, 82);
    color: #8b8b8b!important;
}
.sublink {
    padding: 20px 0;
}
.sublink__text {
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 0;
    cursor: pointer;
}
.sublink__text:hover {
    color: #d13138;
}
.image {
    display: inline-block;
    width: 100%;
    padding-right: 15px;
}
